<html>
<head>
    <title>Remote Software Development</title>
    <style>
    body
    {
    background-color:#F5F5F5;
    }
    </style>
</head>
<body>
    <h1>Remote Software Development</h1>

    {% if form.errors %}
        <p style="color: red;">
            Please correct the error{{ form.errors|pluralize }} below.
        </p>
    {% endif %}

    <form action="" method="post">
        <table>
            {{ form.as_table }}
        </table>
        {% csrf_token %}
        <input type="submit" value="Submit">
    </form>
</body>
</html>